@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* This file is for your main application CSS */
@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-mono-grey: #2e2e2e;
  --color-mono-white: #d6d6d6;
}